@let balance = 23000;
@let income = 23000;
@let expenses = 23000;
@let transactions =[
{
amount: -15,
description: "Groceries",
category: "Food",
date: "2025-02-02"
},
{
amount: 50,
description: "Freelance",
category: "Work",
date: "2025-02-03"
},
{
amount: -30,
description: "Dinner",
category: "Food",
date: "2025-02-04"
},
{
amount: 100,
description: "Bonus",
category: "Work",
date: "2025-02-05"
},
{
amount: 50,
description: "Freelance",
category: "Work",
date: "2025-02-03"
},
{
amount: -30,
description: "Dinner",
category: "Food",
date: "2025-02-04"
},
{
amount: 100,
description: "Bonus",
category: "Work",
date: "2025-02-05"
},
{
amount: -20,
description: "Movie",
category: "Entertainment",
date: "2025-02-06"
}
];
<div class="stats shadow m-3 w-full max-w-[calc(100%-1.5rem)] mt-8">
	<div class="stat bg-base-300 p-7 font-bold">
		<div class="stat-title">TOTAL BALANCE</div>
		<div class="stat-value">{{balance | currency : "UAH" : 'symbol-narrow'}}</div>
	</div>
</div>
<div class="stats lg:stats-horizontal m-3 shadow w-full max-w-[calc(100%-1.5rem)] mt-0 ">
	<div class="stat bg-base-300 p-7">
		<div class="stat-title text-sm font-bold text-success">TOTAL INCOME</div>
		<div class="stat-value text-2xl">+{{income | currency : "UAH" : 'symbol-narrow'}}</div>
	</div>

	<div class="stat bg-base-300 p-7">
		<div class="stat-title text-sm font-bold text-error">TOTAL EXPENSE</div>
		<div class="stat-value text-2xl">-{{expenses | currency : "UAH" : 'symbol-narrow'}}</div>
	</div>
</div>
<div class="divider mb-7">Recent transactions</div>
<div class="transactions h-[56.75vh] overflow-y-scroll">
	@for (transaction of transactions; track $index) {
	<div
		class="transaction flex items-center justify-between bg-base-300 m-3 p-5 rounded-2xl w-full max-w-[calc(100%-1.5rem)]">
		<span class="flex h-12 w-12 items-center justify-center rounded-lg bg-neutral-content">
			<span class="material-symbols-outlined text-neutral-800">tv</span>
		</span>
		<div class="w-[57.5%]">
			<div class="font-bold text-lg">{{ transaction.description }}</div>
			<div class="text-sm text-neutral-500">{{ transaction.category }}</div>
		</div>
		<div class="text-right">
			<div [ngClass]="transaction.amount > 0 ? 'text-success' : 'text-error'" class="font-bold">
				{{transaction.amount > 0? '+' : ''}}{{ transaction.amount | currency : "UAH" : 'symbol-narrow'}}
			</div>
			<div class="text-sm text-neutral-500">{{ transaction.date | date }}</div>
		</div>
	</div>
	}
</div>