<app-header [title]="'Dashboard'" [showAddButton]="true"/>
<div class="stats shadow m-3 w-full max-w-[calc(100%-1.5rem)] mt-8">
	<div class="stat bg-base-300 p-7 font-bold text-center">
		<div class="stat-title">TOTAL BALANCE</div>
		<div class="stat-value">{{totalBalance() | currency : "UAH" : 'symbol-narrow'}}</div>
	</div>
</div>
<canvas id="myChart" width="400" height="200" class="bg-base-300 m-3 w-full max-w-[calc(100%-1.5rem)] rounded-xl shadow h-32 mt-1 mb-8 p-3"></canvas>
<div class="divider mb-7">Recent transactions</div>
<div class="transactions h-[46vh] overflow-y-scroll">
	@for (transaction of transactions(); track $index) {
	<div
		class="transaction flex items-center justify-between bg-base-300 m-3 p-5 rounded-2xl w-full max-w-[calc(100%-1.5rem)]">
		<span class="flex h-12 w-12 items-center justify-center rounded-lg bg-neutral-content">
			<span class="material-symbols-outlined text-neutral-800">tv</span>
		</span>
		<div class="w-[57.5%]">
			<div class="font-bold text-lg">{{ transaction.description }}</div>
			<div class="text-sm text-neutral-500">{{ transaction.category }}</div>
		</div>
		<div class="text-right">
			<div [ngClass]="transaction.amount > 0 ? 'text-success' : 'text-error'" class="font-bold">
				{{transaction.amount > 0? '+' : ''}}{{ transaction.amount | currency : "UAH" : 'symbol-narrow'}}
			</div>
			<div class="text-sm text-neutral-500">{{ transaction.date | date }}</div>
		</div>
	</div>
	}
</div>